<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MicroBlog with Spring</title>
</head>
<body>

{{^user}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Enter your name" style="display: inline"/>
    <button type="submit" style="display: inline">Login</button>
</form>
{{/user}}



{{#user}}
<form action="/add-message" method="post" style="display: inline">
<input type="text" name="text" placeholder="Enter your message"/>
    <button type="submit" style="display: inline">Submit</button>
    </form>

<form action="/logout" method="post" style="display: inline">
    <button type="submit" style="display: inline">Logout</button>
</form>
<br>
Messages by {{.}}:


<ol>
    {{#messages}}
    <li>
        <form action="/delete-message" method="post" style="display: inline">{{text}}
    <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit" style="display: inline">Delete</button>
    </form>
    </li>
    {{/messages}}
</ol>

{{/user}}
</form>
</body>
</html>